{% extends 'social_app/base.html' %}




    {% block content %}
    
    <h1>User Detail 📚</h1>
    <p>Username : {{ user.username|upper }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Bio {{ user.bio }}</p>
    <p>Age {{ user.age }}</p>
    <a href="{% url 'user_posts' username=user.username %}">View {{ user.username }}'s Posts 👁️‍🗨️</a>
    <p><a href="{% url 'user_list' %}">Go back to user list</a>
    <a href="{% url 'create_post' username=user.username %}">| Create post</a>
    <a href="{% url 'update_user' username=user.username %}">| Update user profile</a></p>
    <p><a href="{% url 'delete_user' username=user.username %}">Delete user profile</a></p>
    {% endblock %}