body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #c2f9b5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #af2f2f;
}

p {
    color: #522121;
}

.scroll-container {
    height: 60vh; /* Adjust the height as needed */
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin to prevent spacing issues */
}

li {
    margin-bottom: 10px;
}

a {
    color: #28578a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
